DB_HOST= # mongodb url
PORT=  # port for server
SECRET_KEY=  # secret key for JWT
SENDGRID_API_KEY= 
SMTP_PORT = # Номер порту, в мене 465
SMTP_USER = # my email
SMTP_PASSWORD = # вказав пароль від емейлу
BASE_URL=
SMTP_HOST= meta.email







